.editions {
  display: flex;
  flex-direction: column;
}

.edition {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--inputBackgroundColor);
  color: var(--textColor);
}

.edition:hover {
  border-color: var(--primaryColor);
  color: var(--textColor);
  text-decoration: none;
}

.editionName {
  flex: 0 0 200px;
  font-weight: bold;
}

.path {
  flex: 1 1 auto;
  overflow: hidden;
  margin-right: 10px;
  color: var(--disabledColor);
  word-break: break-all;
}
